.login {
  width: 98%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  &__card {
    width: 100%;
    max-width: 400px;
    background: rgba(44, 44, 44, 0.993);
    border-radius: 6px;
    padding: 20px;
    box-shadow: 0px 0px 15px rgb(22, 22, 22);
  }

  &__button {
    display: flex;
    justify-content: flex-end;
  }

  &__not-found{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: red;
  }
}
