$primary: #11998e;
$secondary: #38ef7d;
$white: #fff;
$gray: #9b9b9b;

.form-group {
  &__input {
    font-family: inherit;
    width: 100%;
    border: 0;
    border-bottom: 2px solid $gray;
    border-image: linear-gradient(to right, $primary, $secondary);
    border-image-slice: 1;
    outline: 0;
    font-size: 1.2rem;
    color: $white;
    padding: 7px 0 1px 0;
    font-family: "Roboto", sans-serif;
    background: transparent;
    transition: border-color 0.2s;
    &::placeholder {
      color: transparent;
    }
    ::-webkit-input-placeholder {
      color: transparent;
    }
    ::-moz-placeholder {
      color: transparent;
    }
    :-ms-input-placeholder {
      color: transparent;
    }
    :-moz-placeholder {
      color: transparent;
    }
    &:placeholder-shown {
      border-bottom: 2px solid $gray;
      border-image: none;
    }
    &:placeholder-shown ~ .form-group__label {
      color: $gray;
      font-size: 1.3rem;
      cursor: text;
      top: 14px;
    }
  }
  &__input:focus {
    ~ .form-group__label {
      position: absolute;
      top: -7px;
      display: block;
      transition: 0.2s;
      font-size: 1rem;
      color: $primary;
      font-weight: 700;
    }
    border-width: 3px;
    border-image: linear-gradient(to right, $primary, $secondary);
    border-image-slice: 1;
  }
  /* reset input */
  .form-group__input {
    &:required,
    &:invalid {
      box-shadow: none;
    }
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-internal-autofill-previewed,
input:-internal-autofill-selected,
input:-webkit-autofill:active {
  -webkit-background-clip: text;
  -webkit-text-fill-color: $white;
}
